*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(C:/Users/hp/Desktop/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.heading{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}

#head{
    font-size: 1.8em;
}

#content1{
    width: 90%;
margin: auto;
}

form{
    background-color: rgba(0,0,0,0.7);
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 60px;
}

form .box{
    width: 98.5%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}

button{
    width: 98.5%;
    height: 3em;
    position: relative;
    top: 11px;
    background-color: rgb(18,219,78);
    border: none;
    color: rgb(255,255,255);
    margin-bottom: 10px;
    cursor: pointer;
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 60px;

}

textarea::placeholder{
    font-size: 1.4em;
}

input::placeholder{
    font-size: 1.1em;
}